

#info > p{
     color: red;
     font-size: larger;
 }
#user > p{
    color: darkblue;
    font-size: larger;
}

.column {
    float: left;
    width: 50%;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


